.span {
    font-size: 24px; 

}

.header {
    display: flex;
    justify-content: space-around;
}

.c1 {
    background-image: url(./images/jason-leung-Tea\ Market-unsplash.jpg);
}



.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }
